.card {
  text-align: center;
  min-width: 20rem;
  background-color: #2e7d32;
  border-radius: 7px;
  border: solid 3px black;
}
ul {
  text-align: left;
}

img {
}

.image{
  height: 20rem;
  width: 20rem;
}