.Level2Page{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;
  //height: 100vh;
  background-color: #ffaa00;
}

.filledBody{
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #ffaa00;
}